.wrap_topmenu_N {width:965px;height:47px;z-index:3px;background-image:url(https://css.tgb.cn/images/newhead/04_N.gif) ;background-repeat:repeat-x;margin:0px auto;overflow:hidden;clear:both;}
.wrap_topmenu_N  a{DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fff;text-decoration:none;}
#newHead ul{list-style:none outset none; float:left;margin-right:10px;margin-top:8px;line-height:1.2em;}
#defaultPage{background: url(https://css.tgb.cn/images/newhead/01_N.gif) no-repeat; width:27px;height:22px; float:left;}
#application{background: url(https://css.tgb.cn/images/newhead/02_N.gif) no-repeat; width:27px;height:22px; float:left;}
#count{background: url(https://css.tgb.cn/images/newhead/03_N.gif)  no-repeat; width:27px;height:22px; float:left;}
.intro{margin-top:6px;margin-left:20px;}
.intro a{margin-top:3px;dispaly:block;float:left;margin-bottom:2px;}
.intro a:hover,.menuItem li a:hover{color:#fff;}
.intro a,menuItem a{hide-focus: expression(this.hideFocus=true);outline:none;}
.intro div{margin-right:5px;}
.menuItem li a{display:block;width:64px;float:left; text-align:left;}
.menuItem li{margin-top:0px;}
.menuItem li a{height: 18px;line-height: 18px}
#headMenu_N{margin-left:15px;}
.spider{background:url(https://css.tgb.cn/images/newhead/05_N.gif) no-repeat; width:1px;height:38px; float:left;margin-left:5px;margin-right:10px;}
.weiboSearch .title{display: inline-block;*display:block;*float:left;height: 25px;line-height: 25px;font-size: 15px;margin-top: 10px;margin-right: 5px;*margin-right:0px;}

@charset "utf-8";
/*积分_公用样式*/
body{ font-size:12px; background:#f2f4f2;}
body, html div, form, img, ul, ol, li, dl, dt, dd, p, fieldset, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
	color:#333;
}
ul,li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	border: medium none;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #4793F1;
	text-decoration:none;
}

.f_left {
	float: left;
}

.f_right {
	float: right;
}

.clear {
	clear: both;
}

.w960 {
	width: 960px;
	margin: 0 auto;
}

.ie6 {
		MARGIN: 30px; COLOR: red; LINE-HEIGHT: 2.0; TEXT-ALIGN: center;font-size:16px;
	}

h1, h2, h3, h4, h5, h6 {
	font-size: 14px;
}


textarea, input {
	font-family: "宋体";
	font-size: 12px;
}

em {
	font-style: normal;
}


/*清除浮动*/

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

.clearfix {
	display: block;
}
.item {width: 90px;float:left;margin-left: 5px;overflow:hidden;text-overflow:ellipsis;}

/*清除浮动-end*/
input, button, select, textarea {
	outline: 0 none;
}
.tex_r{text-align:right}
.tex_l{text-align:left}
.tex_c{text-align:center}

/*---翻页样式---*/
.t_page{ height:30px;}
.t_page01{ float:right; overflow:hidden;}
.t_page02{ padding-right:12px;}

.t_page01 a{ float:right; margin-right:7px; background:#FFF; border:1px solid #ddd; padding:3px 4px;}
.t_page01 a.pageDisabled{ float:right; margin-right:7px;color:#c1c6d3; background:#FFF; border:1px solid #ddd; padding:3px 4px;}
.t_page01 span{ float:right; display:block; margin-right:7px; background:#FFF; border:1px solid #ddd; padding:3px 4px;}
.t_page01 span.pageDisable{ display:block; float:right; margin-right:7px; background:#FFF;color:#c1c6d3; border:1px solid #ddd; padding:3px 4px;}
.tp_input01{ width:40px;}
.tp_input02{ padding:2px 4px; background:#4793F1; color:#FFF; border:none;cursor:pointer}
.fy_pd5{ padding-top:9px;}
.fy_pd3{ padding-top:6px;}

/*积分翻页DIV*/
.jf_fye{ height:31px; background:#f4f4f4; border:1px solid #dadada; margin-top:10px;  padding-top:9px;}
.jf_fye02{ height:32px; background:#e8e8e8; border:none; padding-top:9px;}
.jf_fye03{ height:30px; background:#e8e8e8; border:none; padding-top:7px;}


/**弹出层*/
.su1 {
	MARGIN-LEFT: auto;  MARGIN-RIGHT: auto; TEXT-ALIGN: center;font-family:"����"; font-size:12px; color:#7c7d78;
}
.su {
	MARGIN-LEFT: auto;  MARGIN-RIGHT: auto; TEXT-ALIGN: center
}

.su  A {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: underline
}
.su  A :hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.su .key1 {
	text-align:left;DISPLAY: inline-block; OVERFLOW: hidden;  PADDING-LEFT: 2px; FONT-SIZE: 12px; FLOAT: left; WIDTH: 58px; FONT-FAMILY: Arial; HEIGHT: 25px;
}
.su .key2 {
	text-align:left;DISPLAY: inline-block; OVERFLOW: hidden;  PADDING-LEFT: 3px; FONT-SIZE: 12px; FLOAT: left; WIDTH: 90px; FONT-FAMILY: Arial; HEIGHT: 25px; 
}
.su .key3{
	text-align:left;DISPLAY: inline-block; OVERFLOW: hidden;  PADDING-LEFT: 3px; FONT-SIZE: 12px; FLOAT: left; WIDTH: 75px; FONT-FAMILY: Arial; HEIGHT: 20px;
}
su1 .key3{
	text-align:left;DISPLAY: inline-block; OVERFLOW: hidden;  PADDING-LEFT: 3px; FONT-SIZE: 12px; FLOAT: left; WIDTH: 75px; FONT-FAMILY: Arial; HEIGHT: 25px; 
}
.key4{
	text-align:left;DISPLAY: inline-block; OVERFLOW: hidden;  PADDING-LEFT: 3px; FONT-SIZE: 12px; FLOAT: left; WIDTH: 180px; FONT-FAMILY: Arial; HEIGHT: 25px; 
}
.smallPhoto {height: 40px;margin: 5px auto; width: 40px;}

/**旧的common.css中弹出框的样式*/
#popup_container {
	font-family: Arial, sans-serif;font-size: 12px;min-width: 300px;max-width: 600px;_width:300px;background: #FFF;border: solid 5px #B9D3E4;color: #000;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;padding:5px 5px 5px 5px;
}
#popup_title {font-size: 14px;font-weight: bold;text-align: center;line-height: 1.75em;color: #666;margin-top:5px;margin-left:10px;margin-bottom:10px;border-bottom:1px solid #B9D3E4;cursor: default;padding: 0em;margin: 0em;
}
#popup_message {margin-top:10px;margin-bottom:10px;margin-left:10px;margin-bottom:10px;
}
#popup_message .popup_tips{font-weight:bold;color:#163C61;}
#popup_panel {text-align: center;margin: 1em 0em 0em 1em;margin-bottom:10px;margin-left:10px;margin-bottom:10px;}
#popup_timeSpan{color:#C5C5C5;font-size:12px;margin-bottom:15px;}
#popup_prompt {margin: .5em 0em;}



body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
	clear:both;
}
.NewH{
    width: 100%;
    background-color: #4793F1;
    font-size: 14px;
}
.NewH a{
    text-decoration: none;
}
.NewH_top{
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    position: relative;
    background-image: url(https://css.tgb.cn/images/topbg1.png);
}
.NewH_top_left{
    margin-top: 21px;
}
.NewH_Info{
    /* width: 280px; */
    height: 25px;
    margin-top: 21px;
}
.NewH_Info_head{
    height: 25px;
    line-height: 25px;

}
.NewH_Info_head a{
    color: #fff;
    cursor: pointer;
}
.NewH_Info_head_img{
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
}
.NewH_Info_head_name{
    margin: 0px 10px 0px 10px;
    color: black;
}
.NewH_searchBox{
    width: 250px;
  
    position:absolute;
    right:0px;
    top:55px;
    z-index: 999;
}
.showNewH_searchBox{
    z-index:1200;
}
.NewH_search{
    width: 250px;
    height: 28px;
    border: 1px solid #4793F1;
    border-radius: 5px;
    line-height: 28px;
    background-color: white;
}
.NewH_searchInput2{
    border: none;
    outline: none;
    background-color: white;
    margin-left: 10px;
    display: inline-block;
    width: 160px;
    float: left;
    top: 6px;
    position: relative;
    color:#757575;
}
.NewH_search img{
    margin-right: 10px;
    margin-top: 6px;
}

.NewH_search_titles{
    width: 250px;
    height: 40px;
   background-color:white;
    
    display: none;
}
.NewH_search_titles a{
    display: inline-block;
    width: 72px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    border: 1px solid #999;
    border-radius: 25px;
    font-size: 12px;
    margin: 10px 15px 0px 30px;
    color: #999;
}
.NewH_bot{
    width: 100%;
    height: 50px;
    background-color: #4793F1;
    z-index:1200;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.NewH_bot_items{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}
.NewH_bot_Item{
    width: 100px;
    position: relative;
}
.NewH_bot_title1{
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-align: center;
}
.NewH_bot_title1 a{
	 font-size:14px; 
}
.NewH_bot_title1 span{
	 font-size:14px; 
}
.NewH_bot_title1 img{
    margin-left: 5px;
}
.NewH_bot_title1 a{
    color: white !important;
}
.NewH_bot_title2{
    display: none;
    width: 98px;
    border: 1px solid #4787B5;
    position: absolute;
    background-color: white;
    z-index:1300;
    border-top: none;
}
.NewH_bot_title2s{
    width: 98px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: white;
    background-color: #4787B5;
    z-index:1300;
}
.NewH_bot_title2s img{
    margin: 10px 5px 0px 20px;
}
.NewH_bot_title3{
    width: 98px;
    height: 47px;
    color: #4787B5;
    line-height: 47px;
    text-align: center;
    z-index:1300;
}
.NewH_bot_title1ACT{
	background-color:#4787B5;
}
.urlI_act{
	background-color:#4787B5 !important;
}

.NewH_bot_title3 a{
     color: #4787B5 !important;
    display: inline-block;
   
}
.newH2logo{
    background-image: url('https://css.tgb.cn/images/header/NHlogow.png');
    margin-left: -106px;
    width: 86px;
    height: 37px;
    margin-top: 6px;
    display: none;
}
.dlapp{
    width: 93px;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 25px;
    text-align: center;
    color: white;
    margin-top: 12px;
    font-size: 12px;
}
.dlapp img{
   margin: 3px 10px 0px 13px;
}
/* 瀵艰埅鏍�2鎼滅储妗嗗拰涓汉淇℃伅 */
.NewH_searc_info{
    height: 100%;
    display: none;
}
.NewH_search2{
    width: 190px;
    height: 28px;
    margin-top: 11px;
    line-height: 28px;
    border-radius: 5px;
    margin-left: 10px;
    background-color:  white;
}
.NewH_searchInput{
    background-color: white;
    border: none;
    outline: none;
    display: inline-block;
    height: 20px;
    margin-top: 4px;
    width: 160px;
    color:#757575;
        margin-left: 10px;
}
.NewH_search2 img{
    margin-top: 7px;
    cursor: pointer;
    margin-right: 5px;
}
.fixedHeader{
    position: fixed;
    top: 0;
    opacity:0.9;
}
.NewH_searchBox2{
    width: 206px;
    /* border: 1px solid red; */
    /* margin-top: 11px; */
    z-index:1300;
}
.NewH_search_titles2{
    width: 190px;
    height: 40px;
    display: none;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
}
.NewH_search_titles2 a{
 display: inline-block;
    width: 72px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    font-size: 12px;
    position: relative;
    top: 10px;
    margin-left: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #ccc;
}
.NHline{
    margin-top: 11px;
    margin-right: 15px;
}
.NewH_searc_info .NewH_Info_head{
    margin-top: 11px;
}
.dlapp2{
    display: none;
    margin-right: -160px;
}
.dlappBox{
    position: relative;
   
}
.dlAppcode{
width: 116px;
text-align: center; 
position: absolute;
margin-top: 42px; 
margin-left: -10px;
display: none;
z-index:1300;
}
.NHinfo_XL{
    position: absolute;
    width:106px;
    background-color:  white;
    top: 45px;
    box-shadow: 2px 0px 6px #e2e2e2;
    display: none;
    z-index: 1303;
    margin-left: -13px;
}
.NHinfo_XL li{
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 47px;
}
.NHinfo_XL li a{
    color: #4793F1 !important;
}
.gecen2{
    position: absolute;
    width: 106px;
    height: 1px;
    border-top: 1px solid #4793F1;
    margin-bottom: 36px;
    height: 37px;
    display: none;
}
#stock_suggest{
	font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
 	padding: 3px;
 	border:none;
 	display: block;
 	text-align:left;
 	position:relative;
 	z-index:1200;
 	 border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
}
#stock_suggest a:hover{color:#666;}
#stock_suggest strong{font-size:14px;color:#333;margin-left:5px;}
#stock_suggest ul {
	padding-top: 3px;
	text-align:left;
}
#stock_suggest li.selected {
	background-color: #eee;
	cursor: pointer;
}
#stock_suggest li {
	padding: 2px 12px 3px;
}
.NewH_Info_head a{
    color: #fff;
	cursor:pointer;
}
#stock_suggest li a{
	color:#333 !important;
}
#stock_suggest2 li a{
	color:#333 !important;
}
#stock_suggest2{
	font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
 	padding: 3px;
 	border:none;
 	display: block;
 	position: absolute;
 	text-align:left;
 	margin-left:10px;
 	position:relative;
 	 border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 	 background-color: white;
}
#stock_suggest2 a:hover{color:#666;}
#stock_suggest2 strong{font-size:14px;margin-left:5px;color:#333;}
#stock_suggest2 ul {
	padding-top: 3px;
	text-align:left;
}
#stock_suggest2 li.selected {
	background-color: #eee;
	cursor: pointer;
}
#stock_suggest2 li {
	padding: 2px 12px 3px;
}
.unloginPng img{
	width:20px;
	height:20px;
}
.NewH_searc_info .noLogin a{
	color:white !important;
}
.NHinfo_XL_itemBG{
	width:100%;
	height:44px;
	background-color:#4793F1;
	display:block;
}
.NH_infoBG{
	    height: 48px;
    margin-top: -10px;
    margin-left: -12px;
    min-width: 106px;
}

.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #4793f1;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

.closeSpan{
    position: absolute;
    margin-top: 10px;
    text-align: right;
    display: inline-block;
    width: 105px;	
    color:#666;
    
}
.closeBtn{
	cursor: pointer;
}

.tgb_topal,.logo_all,.tgb_naval{
  font-size:12px;
}
.tgb_nav02 ul li.newzt{position: relative;}
.newzt_img{position: absolute; width:15px; height:13px; left:52px; top:-2px;}
.newzt_img2{position: absolute; width:15px; height:13px; left:474px; top:20px;}

label {
	cursor: pointer;
}
.zanzhushang_icon{
    position: absolute;
    right: 0;
    bottom: 3px;
    background-image: url(https://css.tgb.cn/images/zhuanti/ztOpacity.png);
    color: #fff;
    width: 50px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    opacity: 0.9;
}
#interactshow2 {
	border: 1px #F0C36D solid;
	background: #FFFAAE;
	position: absolute;
	margin-top: 50px;
	z-index: 1500;
	margin-left:115px;
}

#interactshow2 ._trd{
max-width:300px;
}
#closeTip{
float:right;
margin-right:10px;
}
#kkk {
	font-size: 13px;
}

.tgb_top02 span {
	font-size: 13px;
	color: black;
}
/* .tgb_top02 a:hover { */
/* background: #FFFAAE; */
/* } */
#showDiv_zxdz {
	width: 965px;
	height: 342px;
	border: 0px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.newsLives{
   position:fixed;
   bottom:0;
   margin:0 auto;
   height:50px;
   width:100%;
   background-color:#fff;
   padding:5px 40px;
   line-height:50px;
   min-width:1100px;
   cursor:pointer;
   display:none;
       z-index: 1500;
}
.newsLives img{
	float: left;
	margin-top:10px;
}
.newbox
{
 width: 85%;
 height: 200px;
 overflow: hidden;
 float:left;
 display:inline-block;
 margin-left: 30px;
 min-width:960px;
}
.newbox ul
{
 margin: 0px;
 padding: 0px;
 list-style-type: none;
}
.newbox ul li
{
  float: left;
  width:15%;
  color:#ed796b;
  font-size:14px;
  font-weight:600;
  padding-left:50px;
}
.newzt_img3{
position: absolute;
    width: 15px;
    height: 13px;
    left: 475px;
    top: 2px;
    }
.NHinfo_XL{
z-index:1503;
}
.actionPointNo{
    position: absolute;
    width: 6px;
    height: 6px;
    right: 20px;
    background: red;
    left: 68px;
    top: 14px;
    border-radius: 50%;
    display:none;
}
.logostyle {
    width: 199px;
    height: 74px;
}

.canvas{
    z-index: 9999;
    position:fixed;
    bottom:0;
    margin:0 auto;
    height:100%;
    width:100%;
    background-color:#000;
    padding:5px 40px;
    min-width:1100px;
    opacity:0.5;
}
.nianbao,.wangxinban{display: none;}
.close-nb{
    font-size: 40px;
    position: fixed;
    height: 39px;
    line-height: 39px;
    top: 0;
    right: 0;
    padding: 10px 18px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    margin: 15px;
    z-index: 99999;
}
.close-wxb{
    font-size: 40px;
    position: fixed;
    height: 39px;
    line-height: 39px;
    top: 0;
    right: 0;
    padding: 10px 18px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    margin: 15px;
    z-index: 99999;
}



